$search_bar_color:#e0e2e6;
$btn_pad_vertical: 8px;
$btn_pad_horizontal: 10px;
$btn_color:#f8f9fa;
$fonts:arial, helvetica, sans-serif;;

.aside{
  margin: 20px;
  text-align: right;

  a{
    margin: 10px;
    text-decoration: none;
    color: gray;
    font-family: $fonts;
  }

  a:hover{
    text-decoration: underline;
  }
}
.search_container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #search_bar {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 40px; 
    border: 1px solid $search_bar_color;
    border-radius: 30px;
    
    /* generic search  */
    %gsearch{
      height: 25px;
      border: none;
      font-family: $fonts;
      font-size: 1em;
    
    }
    input:focus{
      outline: none;
    }
    
  }
  /* regular search */
  .rsearch{
    @extend %gsearch;
    width: 470px;
   
  }
/* image search */
  .isearch{
    @extend %gsearch;
    width: 430px;
  }
  #search_bar:hover, #search_bar:focus-within{
    box-shadow: 2px 2px 8px 1px $search_bar_color;
   
  }
  
  #buttons{
    text-align: center;
    margin-top: 30px;

    button{
      width: 130px;
      height: 30px;
      border: none;
      border-radius: 5px;
      background-color:$btn_color;
      font-family:$fonts;
      
    }
    button:hover{
      border: 1px solid gainsboro;
      box-shadow: 0px 1px 3px 1px gainsboro;
    }
    button:focus{
      outline:none;
      border: 1px solid gray;
      box-shadow: none;
    }
   
    
  }

  #search_btn{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer ;
    vertical-align: middle;
  }

}





