$search_bar_color:#e0e2e6;

.aside{
  margin: 20px;
  text-align: right;

  a{
    margin: 10px;
    text-decoration: none;
    color: gray;
  }

  a:hover{
    text-decoration: underline;
  }
}
.search_container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #search_bar {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 40px; 
    border: 1px solid $search_bar_color;
    border-radius: 30px;

    input{
      width: 470px;
      border: none;
      height: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      
    
    }
    input:focus{
      outline: none;
    }
    
  }
  #search_bar:hover, #search_bar:focus-within{
    box-shadow: 2px 2px 8px 1px $search_bar_color;;
  }
  
  #buttons{
    text-align: center;
    margin-top: 20px;
  }

}





